
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat", sans-serif;
}


*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    margin: 0%;
}

form{
    width: 300px;
    margin: 200px auto;
    text-align: center;
    background-color: #b6b0b04c;
    border-radius: 20px;

    justify-content: center;
    margin-top: -50px;
    width: 34em;
    height: 17em;
    padding-bottom: 3em;
}

header {
    background-color: #F0D085;
    height: 5em;
    padding-bottom: 3em;
}



.Box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    margin-top: 6em;
    margin-left: 30em;
    margin-right: 20em;
    border-radius: 2%;
    height:30em;
    width: 38em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding-bottom: 35%;
}

#img-logo {
    width: 11em;
    height: 14em;
    align-items: center;
    margin-right: 16em;
    margin-left: 4em;
    padding-bottom: 3em;
    margin-top: -2em;
}

.imagem1 {

    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        height: 15em;
    }

    p {
        font-size: 3em;
        color: #625148;
        padding-bottom: 1em;
        text-shadow: 20px 15px 10px rgba(0, 0, 0, 0.2);
        margin-right: 2em;

    }
}

.Container .Box1 .b0ox2 {
    background-color: #b6b0b04c;
    border-radius: 20px;

    justify-content: center;
    margin-top: -50px;
    width: 34em;
    height: 17em;
    

}


.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    border-radius: 6;
    margin-top: 30px;
    padding-bottom: 20px;
    margin-right: 1em;
}
#email-box{
    width: 23em;
    height: 30px;
    color: #FFFFFF;
    margin-top: 3em;

}
#senha-box{
    width: 23em;
    height: 30px;
    color: #FFFFFF;
   padding-right: 9px;
   margin-right: 14em;

}
.senha{
    margin-bottom: 10px;
    margin-left: 7em;
    

}
#entrar{
    margin: 10px;
    margin-top: 8px;
    margin-left: 2em;
}

    
input{
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
    background-color: #241711;
    width: 25em;
    border-radius: 6px;
    margin-top: 3em;
    color: #FFFFFF;
}



.Recsenha{
    margin-left: 60%;
    font-size: 13px;
    padding-bottom: 20px;
}

a {
    color: #443832;
    text-decoration: none;
}

button {
    background-color: #59514d;
    text-align: center;
    width: 20em;
    height: 25px;
    border-radius: 5px;
    color: #FFFFFF;
    border-color: #44383200;

}

.cadastrar{
    display: flex;
    justify-content: center;
    margin-left: -1em;
}




button:hover{
    background-color: #F0D085;
    transition: 0.3s;
}



